﻿<style>
    .blue {
        background-color: blue
    }
    .red {
        background-color: red;
    }
    .green {
        background-color: green;
    }
    .yellow {
        background-color: yellow;
    }
    .blue, .red, .green, .yellow {
        height: 100px;
        width: 100px;
    }
</style>
<div class="blue"></div>
<div class="red"></div>
<div class="green"></div>
<div class="yellow"></div>
<div>
    <button id="HideBlue">Hide Blue</button>
    <button id="HideRed">Hide Red</button>
    <button id="HideGreen">Hide Green</button>
    <button id="HideYellow">Hide Yellow</button>
</div>